/* TaTouWang URL: www.datouwang.com */
* {
	margin: 0;
}
img, a {
	display: block;
	text-decoration: none;
}
p, span {
	font-size: 14px;
	font-family: 'Î¢ÈíÑÅºÚ';
	color: #4d4d4d;
}
body {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
}
.mainContainer {
	width: 1200px;
	margin: 20px auto;
	overflow: hidden;
	background-color: #FFF;
}
.navContent {
	float: left;
}
.infoBox {
	float: left;
	width: 920px;
	margin-left: 30px;
	margin-top: 40px;
}
.logo {
	width: 200px;
	height: 120px;
}
.logobox {
	margin-left: 40px;
	padding-top: 38px;
}
.book {
	padding-left: 83px;
	padding-right: 44px;
	display: block;
	background-color: #78bcaf;
	background-image: url(../images/logo_2.png);
	background-repeat: no-repeat;
	background-position: 25px center;
}
.box {
	padding-left: 83px;
	padding-right: 44px;
	display: block;
	background-color: #adca7a;
	background-image: url(../images/logo_4.png);
	background-repeat: no-repeat;
	background-position: 25px center;
}
.box01 {
	padding-left: 83px;
	padding-right: 44px;
	display: block;
	background-color: #67affb;
	background-image: url(../images/logo_3.png);
	background-repeat: no-repeat;
	background-position: 25px center;
}
.contact {
	padding-left: 83px;
	padding-right: 44px;
	display: block;
	background-color: #f87678;
	background-image: url(../images/logo_1.png);
	background-repeat: no-repeat;
	background-position: 25px center;
}
.navContent a {
	color: #FFF;
	font-size: 16px;
	font-family: 'Î¢ÈíÑÅºÚ';
	text-align: center;
	line-height: 120px;
}
.status {
	font-size: 30px;
	color: #f87678;
	line-height: 70px;
}
.message p {
	float: left;
}
.message {
	margin-top: 30px;
}
.greenTest {
	font-size: 30px;
	color: #78bcaf;
}
.friend {
	line-height: 25px;
}
.edit {
	background-color: #d6ebe7;
	width: 200px;
	height: 160px;
	line-height: 30px;
	margin-left: 20px;
	padding-top: 20px;
	padding-left: 25px;
}
.devise {
	background-color: #e6efd7;
	width: 200px;
	height: 160px;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 25px;
}
.publicity {
	background-color: #d1e7fe;
	width: 200px;
	height: 160px;
	line-height: 20px;
	padding-top: 20px;
	padding-left: 25px;
}
.media {
	background-color: #fdd6d6;
	width: 200px;
	height: 160px;
	line-height: 20px;
	padding-top: 20px;
	padding-left: 25px;
}
.plan {
	background-color: #fdd6d6;
	width: 200px;
	height: 160px;
	line-height: 25px;
	padding-top: 20px;
	padding-left: 25px;
	margin-left: 20px;
}
.world {
	background-color: #d1e7fe;
	width: 200px;
	height: 160px;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 25px;
}
.world span {
	font-size: 20px;
	color: #78bcaf;
	color: #4d4d4d;
}
.job {
	background-color: #e6efd7;
	width: 200px;
	height: 160px;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 25px;
}
.joinus {
	background-color: #d6ebe7;
	width: 225px;
	height: 180px;
	line-height: 180px;
	float: left;
	font-size: 30px;
	text-align: center;
	font-family: 'Î¢ÈíÑÅºÚ';
	color: #4d4d4d;
}
.secondInfo {
	width: 1000px;
	background-color: #78bcaf;
	float: left;
	height: 600px;
}
.bannerBox div {
	float: left;
	margin-right: 60px;
}
.bannerBox img {
	display: block;
	margin: 0 auto;
}
.young {
	margin-top: 70px;
	line-height: 30px;
	color: #FFF;
}
.bigTest, .bannerBox {
	margin-left: 50px;
}
.young span, .fond span {
	font-size: 24px;
	color: #FFF;
}
.fond {
	color: #FFF;
	margin-top: 20px;
}
.bannerBox {
	margin-top: 95px;
}
.bannerBox p {
	color: #FFF;
	text-align: center;
	margin-top: 20px;
	line-height: 25px;
}
.bannerBox span {
	color: #e6e6e6;
}
.thirdInfo {
	width: 1000px;
	overflow: hidden;
}
.fontTest {
	float: left;
	background-color: #adca7a;
}
.map {
	float: right;
	width: 587px;
	height: 600px;
	background-color: #78bcaf;
}
.fontTest {
	width: 413px;
	height: 600px;
}
.fontTest p {
	font-size: 20px;
	color: #FFF;
}
.fontTest .workRoom {
	margin-top: 200px;
	line-height: 50px;
	margin-left: 50px;
}
.fontTest .address {
	margin-left: 50px;
	line-height: 30px;
}
.map img {
	display: block;
	margin: 47px auto;
}
.lastInfo, .fourInfo {
	width: 1000px;
	float: right;
}
.photoBox img {
	float: left;
	display: block;
}
.photoBox {
	width: 1000px;
	overflow: hidden;
	position: absolute;
	top: -120px;
	left: 50px;
}
.bottomBox {
	background-color: #f87678;
	height: 300px;
	position: relative;
}
.walfareBox {
	height: 300px;
	margin-left: 50px;
}
.walfare {
	padding-top: 30px;
	font-size: 20px;
	line-height: 45px;
}
.sangs {
	margin-top: 10px;
}
.attend {
	padding-top: 130px;
	margin-left: 50px;
	overflow: hidden;
}
.attend span, .attend img {
	float: left;
	color: #FFF;
}
.attend p {
	color: #FFF;
	font-size: 20px;
	line-height: 40px;
}
.attend img {
	margin-left: 80px;
	margin-top: -30px;
}
.life {
	height: 360px;
}
.life p {
	font-size: 20px;
	padding-top: 50px;
	margin-left: 80px;
}
.blue img, .rightBox {
	float: left;
}
.blue {
	background-color: #67affb;
	height: 240px;
	position: relative;
}
.blue img {
	position: absolute;
	top: -250px;
	left: 50px;
}
.rightBox {
	position: absolute;
	top: -260px;
	right: 80px;
}
.rightBox span {
	line-height: 28px;
}
.rightBox p {
	margin-top: 25px;
}