/* 公共样式 */

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    box-shadow: none;
}

select {
    outline: none;
    box-shadow: none;
}


/* 内容样式 */

.main {
    width: 100%;
}

.main .top_title {
    width: 100%;
    height: 82px;
    background: #154F99;
}


/* 身体内容 */

.main .body_content {
    width: 100%;
    height: 900px;
}


/* 身体内容左侧 */

.main .body_content .left {
    width: 12%;
    height: 900px;
    background: #F7F7F7;
    float: left;
}


/* 身体右侧部分 */


/* 打开页面脑导航 */

.main .body_content .right {
    width: 88%;
    height: 100%;
    float: right;
}

.main .body_content .right .top_nav {
    width: 100%;
    height: 27px;
    background: #E7E7E7;
}


/* 内容tab切换区域 */